  <div class="container mt-4">
    <% articles.each do |article| %>
      <div class="row justify-content-md-center">
        <div class="col-8">
          <div class="card text-center shadow mb-5 rounded border">
            <div class="card-header font-italic bg-dark text-white">
              <%= link_to gravatar_for(article.user, size: 40), user_path(article.user) %> 
              by <%= article.user.username.capitalize %>
            </div>
            <div class="card-body bg-white">
              <h5 class="card-title">
                <%= link_to article.title.capitalize, article_path(article), class: 'text-dark' %>
              </h5>
              <p class="card-text">
                <%= truncate(article.description, length: 100) %>
              </p>
              <%= link_to "Show", 
                          article_path(article), 
                          class: 'btn btn-outline-success' 
              %>
              <%= link_to "Edit", 
                          edit_article_path(article), 
                          class: 'btn btn-outline-primary' 
              %>
              <%= link_to "Delete", 
                          article_path(article), 
                          method: :delete, 
                          data: {confirm: 'Are you sure?'} ,
                          class: 'btn btn-outline-danger'
              %>
            </div>
            <div class="card-footer bg-dark text-white">
              Created about <%= time_ago_in_words(article.created_at) %> ago, 
              Updated about <%= time_ago_in_words(article.updated_at) %> ago 
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>