<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render 'shared/errors', object: @user %>
      <%= form_with model: @user, class: 'shadow mb-5 p-3 bg-dark text-white rounded', local: true do |form| %>
        
        <div class="form-group row">
          <%= form.label :username, class: 'col-2 col-form-label' %>
          <div class="col-10">
            <%= form.text_field :username, class: 'form-control', placeholder: 'Choose an username' %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :email, class: 'col-2 col-form-label' %>
          <div class="col-10">
            <%= form.email_field :email, class: 'form-control', placeholder: 'Choose an email' %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :password, class: 'col-2 col-form-label' %>
          <div class="col-10">
            <%= form.password_field :password, class: 'form-control', placeholder: 'Choose a password' %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= form.submit(@user.new_record? ? 'Sign Up': 'Update Account', class: 'btn btn-outline-light') %>
        </div>
      <% end %>
    </div>
    <div class="col-10 text-center">
      <%= link_to '[ Back ]', @user.new_record? ? root_path : users_path, class: 'text-dark' %>
    </div>
  </div>   
</div>
