<div>
  <h1 class="text-center mt-4">Alpha Bloggers</h1>
  <div class="container mt-4">
    <%= will_paginate @users, class: 'apple_pagination mb-4 mt-4' %>
    <% @users.each do |user| %>
      <div class="row justify-content-center">
        <div class="col-8">
          <div class="card text-center shadow mb-5 rounded border">
            <div class="card-header font-italic bg-dark text-white">
              <%= link_to user.username.capitalize, user_path(user), class: 'text-white' %>
            </div>
            <div class="card-body bg-white">
              <h5 class="card-title">
                <%= gravatar_for user, size: 200 %>
              </h5>
              <p class="card-text">
                <% user_article_count = @articles_count[user.id] || 0%>
                <%= pluralize(user_article_count, "Article") %>
              </p>
                <%= link_to "View Profile", 
                            user_path(user), 
                            class: 'btn btn-outline-success' 
                %>
                <% if logged_in? && (current_user == user || current_user.admin?) %>
                  <%= link_to "Edit Profile", 
                              edit_user_path(user), 
                              class: 'btn btn-outline-primary' 
                  %>
                  <%= link_to "Delete Profile", 
                              user_path(user),
                              method: :delete, 
                              class: 'btn btn-outline-danger',
                              data: { confirm: "Are you sure you want to delete the profile?" } 
                  %>
                <% end %>
            </div>
            <div class="card-footer bg-dark text-white">
              Joined <%= time_ago_in_words(user.created_at) %> ago, 
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @users, class: 'apple_pagination mb-4' %>
  </div>
</div>