<div class="container">
  <div class="row align-items-center justify-content-center vh-80">
    <div class="row p-3 bg-light rounded justify-content-center border shadow">
      <div class="col-12 rounded p-3">
        <div class="row">
          <div class="col-12 alpha-blog text-center">
            Alpha-Blog
          </div>
          <% @articles.each do |article| %>
            <div class="d-none d-lg-block col-lg-3 mb-4">
              <div class="card border article-preview">
                <div class="card-body">
                  <h5 class="card-title">
                    <%= article.title.capitalize %>
                  </h5>
                  <p class="card-text">
                    <%= truncate(article.description.capitalize, length: 100) %>
                  </p>
                </div>
                <%= link_to 'Read', article_path(article), class: 'text-justify pl-3 pb-3' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="d-inline text-center mr-3 mb-4">
        <p>Discover our articles!</p>
        <%= link_to 'Sign In', login_path, class: 'btn btn-primary' %>
      </div>
      <div class="d-inline text-center ml-3 mb-4">
        <p>New around here?</p>
        <%= link_to 'Sign Up', signup_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>