<div>
  <h1 class="text-center mt-4">Categories List</h1>
  <div class="container mt-4">
    <%= will_paginate @categories, class: 'apple_pagination mb-4 mt-4' %>
    <% @categories.each do |category| %>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="card text-center shadow mb-5 rounded border">
            <div class="card-header font-italic bg-dark text-white">
              <%= category.name %>
            </div>
            <div class="card-body bg-white">
              <div class="mb-2">
                <% articles_count = @articles_count[category.id] || 0 %>
                <%= pluralize(articles_count, "Article") %>
              </div>
              <%= link_to "Show Articles", 
                          category_path(category), 
                          class: 'btn btn-outline-success' 
              %>
            </div>
            <div class="card-footer bg-dark text-white">
              Created about <%= time_ago_in_words(category.created_at) %> ago, 
              Updated about <%= time_ago_in_words(category.updated_at) %> ago 
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @articles, class: 'apple_pagination mb-4' %>
  </div>
</div>